In [3]:
import pandas as pd
import seaborn as sns
import sys
import os

from authors import list_authors_by_languages, plot_translations_over_birth_century




BASE = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2025/2025-06-03/'

authors   = pd.read_csv(BASE + 'gutenberg_authors.csv')
languages = pd.read_csv(BASE + 'gutenberg_languages.csv')
metadata  = pd.read_csv(BASE + 'gutenberg_metadata.csv')

In [4]:
# Check columns for debugging
print('authors columns:', authors.columns.tolist())
print('languages columns:', languages.columns.tolist())
print('metadata columns:', metadata.columns.tolist())

authors columns: ['gutenberg_author_id', 'author', 'alias', 'birthdate', 'deathdate', 'wikipedia', 'aliases']
languages columns: ['gutenberg_id', 'language', 'total_languages']
metadata columns: ['gutenberg_id', 'title', 'author', 'gutenberg_author_id', 'language', 'gutenberg_bookshelf', 'rights', 'has_text']

In [5]:
# Merge authors and metadata on gutenberg_author_id
df = authors.merge(metadata, on='gutenberg_author_id', how='left')
# Merge with languages on gutenberg_id
df = df.merge(languages, on='gutenberg_id', how='left')

# Rename columns to canonical names
df = df.rename(columns={
    'author_x': 'author',
    'author_name': 'author',
    'author_alias': 'alias',
    'language_x': 'language',
    'language_y': 'language',
    'birth': 'birth_year',
    'birthdate': 'birth_year'
})

# Fill missing columns if needed
for col in ['author', 'alias', 'language', 'birth_year']:
    if col not in df.columns:
        df[col] = None

# Display only the columns that exist
cols = [c for c in ['author', 'alias', 'language'] if c in df.columns]
df[cols].head()

          author   alias language language
0  United States  U.S.A.       en       en
1  United States  U.S.A.       en       en
2  United States  U.S.A.       en       en
3  United States  U.S.A.       en       en
4  United States  U.S.A.       en       en